#header {
  width: 100%;
  height: 64px;
  color: #fff;
  background-color: rgba(25, 57, 86, 1);
  display: flex;
}

#header .header_item {
  flex: 1 1 0;
}

#header .header_search {
  text-align: left;
  align-items: center;
  justify-content: center;
  display: flex;
}

#header .select_db {
  align-items: center;
  justify-content: center;
  display: flex;
}

.logo {
  text-align: center;
  font-family: POLITICA, sans-serif;
  font-size: 36px;
  font-weight: bold;
}

.logo a {
  font-size: 1.3em;
}
