.Home{
  display: flex;
  flex: 0 1 auto;
  background-color: rgba(33,41,52,1);
  min-height: 100%;
}


rect.overlay {
  opacity: 0;
}

rect.selection {
  fill: #FE9922;
  opacity: 0.5;
}

rect.handle {
  fill: #FE9922;
  opacity: 0.25;
}

path.countries {
  stroke-width: 1;
  stroke: #75739F;
  fill: #5EAFC6;
}
