rect.overlay {
  opacity: 0;
}

rect.selection {
  fill: #FE9922;
  opacity: 0.5;
}

rect.handle {
  fill: #FE9922;
  opacity: 0.25;
}

path.countries {
  stroke-width: 1;
  stroke: #75739F;
  fill: #5EAFC6;
}


#dashboard_container {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
  flex: 1;
  width: 100%;
  min-height: 100%;
}
