.Search {
  width: 100%;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 24px;
  min-width: 200px;
  max-width: 300px;
}

.Search form{
  display: flex;
  flex: 1 1 auto;
  width: 100%;
}

.Search form input {
  height: 40px;
  padding: 8px 10px;
  color: #551a8b;
  font-size: 14px;
  border-top-color: rgb(204, 204, 204);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  background-color: #fff;
  outline: none;
  width: 100%;
  font-weight: bold;
}
