.tooltip .tooltiptext {
    visibility: hidden;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    display: flex;
    flex: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  text-align: left;
  visibility: visible;
  top: 105%;
  right: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 20vw;
  background-color: rgba(31, 70, 98, 1);
  color: white;
  height: auto;
  line-height: 3vh !important;
  font-size: 2vh;
}

/* */
.tooltiptext > div.stat_item {
  display: flex;
  flex-basis: calc(50%);
  justify-content: center;
  flex-direction: column;
  flex: 1;
  align-items: center;
  flex: 1 0 auto;
}

.tooltiptext > div.stat_item:not(:nth-last-of-type(-n+2)) {
  margin-bottom: 20px;
}

.tooltiptext > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 10vw;
  flex: 1;
}

.tooltiptext > div > div.stat_value {
  width: 80%;
  border-bottom: 2px solid grey;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  right: 5%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(31, 70, 98, 0.8) transparent;
}
