div#container div.sidebar {
  width: 50px;
  background-color: #ffffff;
}

div.sidebar div.sidebar_header {
  font-family: 'Roboto Condensed', sans-serif;
}

div.sidebar_body ul.sidebar_menu {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

div.sidebar_body ul.sidebar_menu:first-child {
  border-top: none;
}

div.sidebar_body ul.sidebar_menu li.sidebar_menu_item {
  color: rgba(18, 54, 84, 1);
  font-size: 18px;
  width: auto;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.sidebar_body ul.sidebar_menu li.sidebar_menu_item:hover {
  color: #fff;
  background-color: rgba(242, 74, 62, 1);
}

.current {
  border-right: 4px solid #feae28 !important;
  padding-right: 6px !important;
}
