.Drawer_Container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 300px;
}

.Drawer_Paper {
  flex: 1 1 auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.Drawer_Results ol.Drawer_Results_List {
  list-style-type: none;
}
