.SidebarContainer {
  display: flex;
  flex: 1 1 auto;
  min-height: 0;
  height: 100%;
  color: rgba(103,127,175,1);
  background-color: rgba(71,78,101,1);
}

.Drawer_Container {
  display: flex;
  flex: 1 1 auto;
  width: 100%;
  flex-direction: column;
  height: 100%;
}

.Drawer_Header {
  color: #ffffff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  background-color: rgba(124,158,222,1);
  padding: 15px 0px 15px 20px;
}

.Drawer_Search {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-around;
  align-items: center;
}

.Drawer_Results{
  display: flex;
  flex: 1 1 auto;
}

.Drawer_Paper {
  flex: 1 1 auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.Drawer_Results ol.Drawer_Results_List {
  list-style-type: none;
}
