div#container div.sidebar {
  width: 18%;
  min-width: 100px;
  max-width: 250px;
}

div.sidebar div.sidebar_header {
  font-family: 'Roboto Condensed', sans-serif;
}

div.sidebar_body ul.sidebar_menu {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 24px;
  max-width: 175px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
}

div.sidebar_body ul.sidebar_menu:first-child {
  border-top: none;
}

div.sidebar_body ul.sidebar_menu li.sidebar_menu_item {
  padding: 8px 10px;
  color: #551a8b;
  font-size: 14px;
  border-top-color: rgb(204, 204, 204);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(204, 204, 204);
  border-right-style: solid;
  border-right-width: 1px;
  border-bottom-color: rgb(204, 204, 204);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: rgb(204, 204, 204);
  border-left-style: solid;
  border-left-width: 1px;
  background-color: #fff;
  cursor: pointer;
}

.current {
  border-right: 4px solid #feae28 !important;
  padding-right: 6px !important;
}
