.ResultsList {
}

.ResultsList .List {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -40px;
}

.ResultsList .List li {
  font-family: 'Roboto', sans-serif;
  color: rgba(189,196,222,1);
  padding: 10px;
  margin: 10px 15px 0px 15px;
  cursor: pointer;
}

.ResultsList .List:first-child {
  margin-top: 0px;
}

.ListItem_Header {
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  margin-bottom: 10px;
  vertical-align: middle;
}

.ListItem_Title {
  font-size: 1vw;
}

.ListItem_Author {
  display: inline-block;
  margin: 0 auto;
  color: #ffffff;
  font-size: 1.3vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.List_ViewAll {
  float: right;
  margin-right: 30px;
  color: rgba(7,125,229,1);
  cursor: pointer;
}
