@font-face {
  font-family: "HANDOFSEAN";
  src: url("./resources/handofsean.ttf");
}
@font-face {
  font-family: "POLITICA";
  src: url("./resources/Politica.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}
