.AppFrame {
  height: 100%;
  width: 100%;
}

.NomNomSpace{
  display: flex;
  flex: 0 0 auto;
}

.MaxHeight {
  height: 100%;
  max-height: calc(100vh - 64px); /* Never gonna break, guaranteed! */ 
  flex: 1;
  overflow: auto;
}
