div#app_frame {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: url('../resources/bg.png');
}

div#container {
  width: 100%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: row;
}

div#container div.content {
  flex: 1;
}
