div#app_frame {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  background-color: rgba(248, 249, 251, 1);
}

div#container {
  width: 100%;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: row;
}

div#container div.content {
  flex: 1;
}
