.card {
  margin: 20px;
  padding: 10px 17px;
  background: #fff;
  border: 1px solid #E6E9ED;
  transition: all .2s ease;
}

.card.text {
  max-width: 300px;
  line-height: 24px !important;
  font-size: 13px !important;
  padding: 48px 24px 106px 48px !important;
}

.card.text p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.card.full_widget {
  background: #f7f7f7;
  padding: 20px;
  width: 100%;
}

.card_container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

div.card div.card_header {
  margin-bottom: 10px;
  border-bottom: 2px solid #E6E9ED;
  padding: 1px 5px 6px;
}

div.card_header span {
  font-weight: bold;
  color: #551a8b;
  flex: 1;
  padding-left: 35px;
  font-size: 24px;
}

div.card_header div.card_controls {
  float: right;
}

div.card_header div.card_controls i {
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
}

div.card_header div.card_controls i:hover {
  background-color: rgba(200, 201 ,203, 1);
}

.card_footer {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
}

.pending_body {
  text-align: center;
}
